.header {
  width: 100%;
  height: 50px;

  border-bottom: 2px solid grey;
}

.heading {
  margin-left: auto;
  text-transform: uppercase;
}

.headerContainer {
  display: flex;
  // justify-content: center;
  align-items: center;
  height: 100%;
}
