body {
  font-size: 1.1rem;
  color: var(--primary-text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
  font-size: 1.1rem;
  color: var(--primary-text-color);
  margin: 0;
} */

html,
body,
#root {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

main {
  width: 100%;
  height: calc(100dvh - 120px);
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 1px solid var(--primary-text-color);
}

input {
  /* border: none; */
  outline: none;
}

input:focus {
  border: 1px solid var(--accent-color);
}

#scanner-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button.indicator {
  position: absolute;
  top: -50%;
  left: 5px;

  /* width: 55px;
  height: 55px; */

  border: 6px solid transparent;
  transition: transform 200ms linear;
}

button.active:nth-child(1) ~ .indicator {
  transform: translateX(calc(60px * 0));
}
button.active:nth-child(2) ~ .indicator {
  transform: translateX(calc(60px * 1 + (6px * 2)));
}
button.active:nth-child(3) ~ .indicator {
  transform: translateX(calc(60px * 2 + (6px * 4)));
}
button.active:nth-child(4) ~ .indicator {
  transform: translateX(calc(60px * 3 + (6px * 6)));
}
button.active:nth-child(5) ~ .indicator {
  transform: translateX(calc(60px * 4 + (6px * 8)));
}
button.active:nth-child(6) ~ .indicator {
  transform: translateX(calc(60px * 5 + (6px * 10)));
}
